doctype 5
html
  head
    title Trigger Rally
    meta(name='description', content='Fast arcade rally racing action! Play in your browser with WebGL 3D graphics.')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700italic', type='text/css')
    link(rel='stylesheet', href='/css/unified.css')
    link(rel='icon', href='/favicon.png')

    script(src="http://www.airconsole.com/file/api.js")

    script(type='text/javascript').
      ga = function() {};
      _gaq = [];

      window["controls"] = {
        "throttle": 0,
        "brake": 0,
        "handbrake": 0,
        "turn": 0
      };

      function init() {
        var gameconsole = new AirConsole();
        window.onbeforeunload = undefined;
        gameconsole.onMessage = function(sender, data) {
          if (data["command"] == "steering") {
            window["controls"]["turn"] = data["value"];
          } else if (data["command"] == "acceleration") {
            var value = data["value"];
            window["controls"]["throttle"] = 0;
            window["controls"]["brake"] = 0;
            if (value < 0) {
              window["controls"]["brake"] = -value;
            } else if (value > 0) {
              window["controls"]["throttle"] = value;
            }
          } else if (data["command"] == "handbrake") {
            window["controls"]["handbrake"] = data["value"];
          }
        };
      }


  body(onload="init()")
    #unified-container
    //- For sharing scrapers to use, eg. Facebook or Google+.
    img(src="/images/icon-128.png", style="display:none", title="Trigger Rally icon")

    script(src="/socket.io/socket.io.js")

    - if ('production' === process.env.NODE_ENV)
      script(src="/build-v3/main.js")
    - else
      script(data-main="/scripts/main", src="/js/require.js")

  //- script(src="https://coinbase.com/assets/button.js")